{
  "presets": ["env", "react"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./Scripts/Common"],
        "alias":
        {
          "Services": "./Scripts/Common/Services",
          "Utils": "./Scripts/Common/Utils",
          "Constants": "./Scripts/Common/Constants",
          "Containers": "./Scripts/Common/Containers",
          "Components": "./Scripts/Common/Components",
          "Decorators": "./Scripts/Common/Decorators",
          "extensions": [".js", ".jsx", ".less", ".css", "eot"]
        }
      }
    ],
    "transform-object-rest-spread",
    "transform-decorators-legacy"
  ]
}
